@use "typography" as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  @include hind-regular;
}

input:not([type="radio"]) {
  border: none;
  outline: 0;
  border-bottom: 1px solid black;
}

.modal {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
  background-color: white;
  border: 2px solid rgb(240, 240, 240);
  border-radius: 12px;
  position: fixed;
  width: 250px;
  height: 120px;
  top: calc(50% - 60px);
  left: calc(50% - 125px);
}

.icon,
button {
  cursor: pointer;
}
