@use "../../styles/partials/colours" as *;
@use "../../styles/partials/typography" as *;

.table {
  text-align: left;
  border: 1px solid $softpurple;
  border-collapse: collapse;
  &__heading,
  &__data {
    border: 1px solid $softpurple;
    padding: 12px;
  }

  &__heading {
    background-color: $periwinkle;
    @include hind-bold;
    vertical-align: top;
    &--ingredient {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
      border: none;
    }
  }

  &__name-data {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__name-icons {
    display: flex;
    gap: 4px;
  }
}
