@use "./../../styles/partials/global" as *;
@use "./../../styles/partials/colours" as *;

.toggle__input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  cursor: pointer;
  padding: 4px 8px;
  background: $periwinkle;
  color: $darkslateblue;
  font-size: 14px;
  transition: all 100ms linear;
  &:checked {
    background-color: $darkslateblue;
    color: $periwinkle;
  }
  &:before {
    content: attr(label);
    display: inline-block;
    text-align: center;
    width: 100%;
  }
}
